<%= form_for @result do |r| %>

<div class="container-fluid page5_bg">
  <div class="row-fluid">
    <div class="span12 padding_top">
      <img src="assets/hosp_patient1_mob.png" class=" patient1"/>
      <img src="assets/hosp_patient2_mob.png" class=" patient2"/>
      <img src="assets/hosp_patient3_mob.png" class=" patient3"/>
      <img src="assets/hosp_patient1_no_answer_mob.png" class="patient1_no_answer"/>
      <img src="assets/hosp_patient2_no_answer_mob.png" class="patient2_no_answer"/>
      <img src="assets/hosp_patient3_no_answer_mob.png" class="patient3_no_answer"/>
      <img src="assets/bobo_good_answer_mob.png" class="quiz_bobo bobo_good_answer"/>
      <img src="assets/bobo_wrong_answer_mob.png" class="quiz_bobo bobo_wrong_answer" />
    </div>
  </div>

  <div class="row-fluid bg_change">
      <div class="span12">
        <div class="s_bubble_quiz select">
          Bobo, can you please help me?
        </div>
        <div class="s_bubble_quiz selected_good">
          Well done! That is the right answer:
        </div>
        <div class="s_bubble_quiz selected_wrong">
          That's wrong. The right answer was:
        </div>
      </div>
  </div>

<div class="row-fluid" id ="quiz_bg">

  <% @survey.questions.shuffle.each do |q| %>

  <div class="span12 question">
    <h5><%= q.content %></h5>

      <%= r.fields_for :answer_results do |a| %>
      
    <div class="span12 radio-toolbar"> 
      <% q.answers.shuffle.each do |answer| %>
        <label class="answercontent">
          <%= a.radio_button :answer_id, answer.id %>
            <%= a.label :answer_id, answer.content %>
              <input type="hidden" class="points" value="<%= answer.points %>" />
       </label>
      <% end %>
    
    <div class="discription">
      <div class="goodanswer">
        <h5>That is the right answer because:</h5>
        <p>"<%= q.discription %>"</p>
      </div>
      <div class="wronganswer">
        <h5><%= q.answers.find_by_points(1).content %></h5>
        <p>"<%= q.discription %>"</p>
      </div>
    </div>
    </div>
  </div> <!-- question-->

  <% end %>
<% end %>

      <div class="span12 next_q">
        <label>
        <a class="next_btn0">
          <h5>Next</h5>
        </a>
        </label>
        <label>
          <a class="next_btn1">
            <h5>Next Question</h5>
          </a>
        </label>
        <label>
          <a class="next_btn2">
            <h5>Finish the Doctor Story.</h5>
            <%= r.submit "Finish" %>
          </a>
        </label>
      </div>

  </div> <!-- quiz_bg -->
</div><!-- container -->
<% end %>