<%= form_for @result do |r| %>

  <body>
    <div class="container-fluid" id="bg_image">
      <div class="row-fluid">
        <div class="span6">
          <div class="top_menu">
            
            <div class="home_btn" href="#" >
            </div>
            
            <div class="pause_btn" href="1.html" >
            </div>

            <p class="top_menu_text">Total: 150 points</p>

          </div>  
        </div>
      </div>

    <div class="row-fluid">
        <div class="span6 offset1 bobo_bg">
        </div>
    </div>
  <% @survey.questions.each do |q| %>
  <div class="question">
      <div class="row-fluid">
  
        <div class="span10 offset1 q_box_wrapper">
            <div class="q_box">
              <div class="q_box_top">

                <p><%= q.content %></p>
              </div>
            
                <div class="radio_quiz" %>
                 <%= r.fields_for :answer_results do |a| %>
                  <% q.answers.each do |answer| %>
                  <label for "radio1"><%= a.radio_button :answer_id, answer.id %><%= answer.content %></label>
            <% end %>
                </div>
          </div>
        </div>
      </div>
  </div>
    
    <% end %>
  <% end %>

      
      <div class="row-fluid">
        <a class="span2 offset9 next_btn"></a>
        <a class="span 2 offset9 "><%= r.submit "", :class => "next_btn2" %></a>
        </div>
      </div>
    </div>
  </body>
<% end %>