
	<%= f.label :content, "Question" %>
	<%= f.text_area :content, :rows => 2 %></p>


	  <%= f.fields_for :answers do |builder| %>
	  <%= render 'answer_fields', :f => builder %>
	  <% end %><br />

	<%= f.label :discription, "The answer given is wrong/good because ..." %>
	<%= f.text_area :discription %>

<br /><br />