<div class="container">
<div class="back-btn">
	<%= link_to "Back", surveys_path, class: "logout" %>
</div>

<div class="logout-btn">
	<%= link_to "Log out", log_out_path, class: "logout" %>
</div>

<div class="header-questions">
  <h1><%= @survey.name %></h1>
</div>

<% @survey.questions.each do |q| %>
<div class="question-blocks">
	<div class="edit-btn">
		<p class="submit">
			<%= link_to "Edit", (edit_question_path(q.id)), class: "logout" %>

			<%= link_to("Delete", q, :method => :delete, :confirm => "Really?", :class => 'logout') %>
		</p>
	</div>
	<h2><%= q.content %></h2><br />
	<% q.answers.each do |a| %>
		<h3><%= a.content %></h3>
	<% end %>
</div>	
<% end %>
<div class="new-btn">
	<%= link_to ({:controller => 'questions', :action => 'new', :id => @survey.id}) do %>
	<p class="submit"><input type="submit" name="commit" value="Add New Question"></p>
	<% end %>
</div>
</div>