	
	<p>Category of the Survey:</p>
	<%= @survey.name %></br>


<ol>
	<% @survey.questions.each do |q| %>
	
	<li><%= q.content %></li><%= link_to 'edit', edit_question_path(q.id) %>
		<ul>
		<% q.answers.each do |a| %>

		<li><%= a.content %>
			<%= a.points %></li></br>
			<% end %>
		</ul>

	
	<% end %>
</ol>

<%= link_to 'new', {:controller => 'questions', :action => 'new', :id => @survey.id } %>